.select2-container {
    display: inline-block;
    position: relative;
    margin: 0;
    vertical-align: middle;

    box-sizing: border-box;

    @import 'single';
    @import 'multiple';
}

@import 'dropdown';

.select2-close-mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 99;
    margin: 0;
    border: 0;
    padding: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;

    // styles required for IE to work
    background-color: #fff;
    filter: alpha(opacity=0);
}

@import 'theme/default/layout';
@import 'theme/classic/layout';
@import 'theme/bootstrap/layout';
